body {
    margin: 0;
    background-color: rgb(16, 16, 16);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 180px;
}

h1 {
    margin-bottom: 40px;
}


/* Estilização dos Perfis */
.profiles {
    display: flex;
    gap: 40px;
}

.profile {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;
}

.profile:hover {
    transform: scale(1.1);
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.profile p {
    margin-top: 10px;
    font-size: 16px;
    color: #aaa;
}


/* Editar Perfil */
.img-container {
  position: relative;
}

.img-container img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  transition: 0.3s;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 30px;
  color: white;

  display: none;
}

.editing .edit-icon {
  display: block;
}

.editing .img-container img {
  filter: brightness(0.4) blur(2px);
}


/* Botão Gerenciar Perfis */
.button{
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid #aaa;
    background: transparent;
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
  color: white;
  border-color: white;
}
